// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.well>div{
  display: table;
  width: 100%;
  span{
    display:table-cell;
  }
  .left{
    text-align: left;
  }
  .right{
    text-align: right;
  }
}
